tags
.idea/
config/settings.yml
config/settings.d/*.yml
config/migration_state
config_*/*
.idea
/logs
*swp
Gemfile.lock
bundler.d/*.local.rb
.rbenv*
.rvmrc*
.ruby-*
.bundle
pkg/
test/tmp/*
/tmp/
/vendor
/1
config/settings.d/host_report.yml.example
