Paul Kelly <paul.ian.kelly@googlemail.com> Paul kelly <paul.ian.kelly@googlemail.com> <paul.ian.kelly@gmail.com> <pikelly@blueyonder.co.uk>
Leos Stejskal <lstejska@redhat.com> <github@stejskalleos.cz>
Lukáš Zapletal <lzap@redhat.com> <lzap+git@redhat.com>
