<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html> 
  <head> 
    <title>DHCP Web interface</title> 
    <link href='/css/styles.css' rel='stylesheet' /> 
  </head> 
  <body> 
    <div id='wrapper'> 
      <div id='header'> 
        <h1>DHCP Browser</h1> 
        <div id='nav'> 
          <ol> 
            <a href='/dhcp'>     <li>Home</li> </a>
            <a href='/features'> <li>Features</li> </a>
            <a href='about'>     <li>About</li> </a>
          </ol> 
        </div> 
      </div> 
      <div id='content'> 
        <%= yield %>
      </div> 
      <div id='footer'> 
        <p> &copy; 2010 <a href='mailto:ohadlevy@gmail.com'> Ohad Levy </a> </p> 
      </div> 
    </div> 
  </body> 
</html> 
