!!!
%html
  %head
    %title DHCP Web interface
    %link(rel="stylesheet" href="/css/styles.css")
  %body
    #wrapper
      #header
        %h1 DHCP Browser
        #nav
          %ol
            %a(href="/dhcp")
              %li Home
            %a(href="about")
              %li About

      #content
        =yield

      #footer
        %p
          &copy; 2010
          %a(href="mailto:ohadlevy@gmail.com")
            Ohad Levy
