---
# Can be true, false, or http/https to enable just one of the protocols
:enabled: false

# Available providers:
# - freeipmi / ipmitool - requires the appropriate package installed, and the rubyipmi gem
# - shell - for local reboot control (requires sudo access to /sbin/shutdown for the proxy user)
# - ssh - limited remote control (status, reboot, turn off)
#:bmc_default_provider: freeipmi

# default user and ssh key for ssh provider
#:bmc_ssh_user: root
#:bmc_ssh_key: /usr/share/foreman/.ssh/id_rsa

# individual commands for actions
#:bmc_ssh_powerstatus: "true"
#:bmc_ssh_powercycle: "shutdown -r +1"
#:bmc_ssh_poweroff: "shutdown +1"
#:bmc_ssh_poweron: "false"

#####################################
# Settings for scanner at /bmc/scan #
#####################################
# The largest number of IP addresses that may be scanned in one request. Set
# this value to 0 to turn off the scanner.  Defaults to 65536, which covers a
# CIDR prefixlen of /16.
#:bmc_scanner_max_range_size: 65536

# The maximum number of IP addresses to scan at the same time, per request.
# Defaults to 500.  Before increasing this number, you should increase the
# maximum number of open files for Smart Proxy.
#:bmc_scanner_max_threads_per_request: 500

# How many seconds to wait for each scanned IP address to respond before timing
# out. Defaults to 1.
#:bmc_scanner_socket_timeout_seconds: 1
