---
#
# Configuration file for libvirtd-specific 'virsh' dhcp provider
#

# Libvirt network to use
#:network: default

# Leases file (managed via /usr/libexec/libvirt_leaseshelper)
#:leases: /var/lib/libvirt/dnsmasq/virbr0.status
