---
#
# Configuration file for 'nsupdate' dns provider
#

#:dns_key: /etc/rndc.key

# DNS server to talk to, usually localhost but can be an arbitrary (remote) host.
# This can be also set to a blank value to let nsupdate to detect the master
# server of a zone.
#:dns_server: 127.0.0.1
