---
#
# Configuration file for 'nsupdate' dns provider
#

#:dns_key: /etc/rndc.key
# use this setting if you are managing a dns server which is not localhost though this proxy
#:dns_server: dns.domain.com
