---
# Can be true, false, or http/https to enable just one of the protocols
:enabled: false

# valid providers:
#   - puppetca_hostname_whitelisting (verify CSRs based on a hostname whitelist)
#   - puppetca_token_whitelisting (verify CSRs based on a token whitelist)
#:use_provider: puppetca_hostname_whitelisting

# Puppet version used
#:puppet_version: '4.1'
