---
# Can be true, false, or http/https to enable just one of the protocols
:enabled: false

#:ssldir: /var/lib/puppet/ssl
#:autosignfile: /etc/puppet/autosign.conf
#:puppetca_use_sudo: true
#:sudo_command: /usr/bin/sudo
