---
#
# User for execution of puppetrun commands
#
# sudo permission needs to be added to ensure
# smart-proxy can execute 'sudo' command
#
# Defaults:foreman-proxy !requiretty
# foreman-proxy ALL=(peadmin) NOPASSWD: /opt/puppet/bin/puppet *',
#
# or
#
# Defaults:foreman-proxy !requiretty
# foreman-proxy ALL=(peadmin) NOPASSWD: /opt/puppet/bin/puppetrun *',
#
#:user: peadmin
