---
#
# User for execution of puppetrun commands
#
# sudo permission needs to be added to ensure
# smart-proxy can execute 'sudo' command.
# Make these changes in /etc/sudoers.d/foreman-proxy
#
# For Puppet 3:
# Defaults:foreman-proxy !requiretty
# foreman-proxy ALL=(puppet) NOPASSWD: /usr/bin/puppet kick *
#
#
#:user: puppet
