---
#
# User for execution of mco commands
#
# sudo permission needs to be added to ensure
# smart-proxy can execute 'sudo' command
#
# For Puppet Enterprise this means
# Defaults:foreman-proxy !requiretty
# foreman-proxy ALL=(peadmin) NOPASSWD: /opt/puppet/bin/mco *',
#
#:user: peadmin
