---
# Can be true, false, or http/https to enable just one of the protocols
:enabled: false

#:tftproot: /var/lib/tftpboot
# Defines the TFTP Servername to use, overrides the name in the subnet declaration
#:tftp_servername: tftp.domain.com
# By enabling this option, all new reservations for this subnets will not include
#   "supersede server.next-server" option
#:dont_pass_nextserver: true
