[Unit]
Description=Foreman Proxy
Wants=basic.target
After=basic.target network.target

[Service]
Type=forking
User=foreman-proxy
ExecStart=/usr/share/foreman-proxy/bin/smart-proxy
PIDFile=/run/foreman-proxy/foreman-proxy.pid

[Install]
WantedBy=multi-user.target
